# **9. Formal Verification (Optional)**

![[E/Invariants]]
![[E/Proof Rules]]
